[req]
distinguished_name = model-web.example.com
x509_extensions = v3_req
prompt = no

[model-web.example.com]
C = US
ST = MS
L = Somewhere
O = IT
OU = DBATeam
CN = model-web.example.com

[v3_req]
subjectAltName = @alt_names

[alt_names]
IP.1 = 127.0.0.1
DNS.1 = localhost
DNS.2 = model-web.example.com
DNS.3 = model-web
